In [42]:
import tensorflow as tf
import pandas as pd
from datetime import datetime
import pickle

In [3]:
test = pd.read_csv('../data/clean/test.csv')

In [4]:
test.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Miss,Mr,Mrs,Rare,male,Q,S
0,892,1.0,0.430039,0.000,0,0.015282,0,1,0,0,1,1,0
1,893,1.0,0.586622,0.125,0,0.013663,0,0,1,0,0,0,1
2,894,0.5,0.774521,0.000,0,0.018909,0,1,0,0,1,1,0
3,895,1.0,0.336089,0.000,0,0.016908,0,1,0,0,1,0,1
4,896,1.0,0.273456,0.125,1,0.023984,0,0,1,0,0,0,1

In [15]:
X = test.drop('PassengerId', axis=1)

In [38]:
def save_result(y_pred, tool, id=test['PassengerId']):
    result = test[['PassengerId']]
    result['Survived'] = (y_pred>0.5).astype(int)
    result.to_csv(f'../submissions/{tool}/submission_{datetime.now().isoformat()}.csv', index=False)

In [16]:
tf_model = tf.keras.models.load_model('../models/tf/saved_model/my_model')

In [17]:
tf_model.summary()

Model: "sequential_36"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 Hidden_Layer_1 (Dense)      (None, 10)                130

 dropout_21 (Dropout)        (None, 10)                0

 Hidden_Layer_2 (Dense)      (None, 10)                110

 Output_Layer (Dense)        (None, 1)                 11

=================================================================
Total params: 251
Trainable params: 251
Non-trainable params: 0
_________________________________________________________________

In [19]:
y_pred = tf_model.predict(X)

In [39]:
save_result(y_pred,"tf")

/var/folders/14/7mcklss54hzfhxsq9f0x6x100000gn/T/ipykernel_40171/1425077170.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['Survived'] = (y_pred>0.5).astype(int)

In [41]:
! kaggle competitions submit titanic -f ../submissions/tf/submission_2021-12-15T12:02:56.225572.csv -m "tensorflow"

100%|██████████████████████████████████████| 2.77k/2.77k [00:02<00:00, 1.16kB/s]
Successfully submitted to Titanic - Machine Learning from Disaster

In [48]:
sk_models = pickle.load(open('../models/sklearn/all_models', 'rb'))

In [49]:
sk_models

{'logistic_fn': LogisticRegression(solver='liblinear'),
 'linear_discriminant_fn': LinearDiscriminantAnalysis(),
 'sgd_fn': SGDClassifier(),
 'linear_svc_fn': LinearSVC(dual=False, tol=0.001),
 'radius_neighbor_fn': RadiusNeighborsClassifier(radius=40.0),
 'decision_tree_fn': DecisionTreeClassifier(),
 'naive_bayes_fn': GaussianNB()}

In [50]:
model2 = sk_models['logistic_fn']

In [51]:
y_pred = model2.predict(X)

/Users/gkesler/Documents/GitHub/kaggle-competitions/.venv/lib/python3.8/site-packages/sklearn/base.py:488: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Q
- S
Feature names seen at fit time, yet now missing:
- PassengerId
- Survived

  warnings.warn(message, FutureWarning)

In [54]:
save_result(y_pred, 'sklearn')

/var/folders/14/7mcklss54hzfhxsq9f0x6x100000gn/T/ipykernel_40171/1425077170.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['Survived'] = (y_pred>0.5).astype(int)

In [55]:
! kaggle competitions submit titanic -f ../submissions/sklearn/submission_2021-12-15T12:12:02.371286.csv -m "sklearn_log"

100%|██████████████████████████████████████| 2.77k/2.77k [00:01<00:00, 1.53kB/s]
Successfully submitted to Titanic - Machine Learning from Disaster